#about-me {
    display: block;
}

#contact {
    display: none;
}

#resume {
    display: none;
}

/* */

.main-container {
    flex: 1; /* Take up the remaining available space */
    margin-left: 430px; /* Adjust the margin to create space for the sidebar */
}
  
.main-content {
    padding: 20px;
    background-color: #444;
    border-radius: 15px;
    width: 950px;
}

hr {
    width: 20%;
    margin-left: 0;
    border: none;
    height: 5px;
    border-radius: 40%;
    background-color: gold;
}