.navbar {
    display: flex;
    background-color: #333;
    width: fit-content;
    border-radius: 15px;
  }
  
  .navbar li {
    list-style: none;
    display: inline;
  }
  
  .navbar button {
    text-decoration: none;
    color: #FFD700;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: #555;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'REM', sans-serif;
    margin: 5px;
  }
  
  .navbar button:hover {
    background-color: #777;
  }
  
  .navbar ul {
    padding-left: 20px;
    padding-right: 20px;
  }