    .sidebar {
        padding: 20px;
        background-color: #333;
        position: fixed;
        top: 50%; /* Position at the middle of the screen */
        transform: translateY(-50%); /* Adjust for the element's height */
        border-radius: 15px;
        transition: padding 0.5s;
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
    }

    .sidebar-container {
        margin-left: 10%;
        animation: fadeIn 1.5s ease-in-out;
    }

    /* Uncomment to hover effect on sidebar */
    /* .sidebar:hover {
        padding: 25px;
    } */

    .profile-picture {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%; /* Make it circular */
        margin-bottom: 10px;
      }
      
      .profile-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain aspect ratio */
      }

      a {
        color: aqua;
      }

      .sidebar h1 {
        font-size: xx-large;
        margin-bottom: 5%;
        margin-top: 5%;
      }

      .sidebar hr {
        height: 3px;
      }