
@import url('https://fonts.googleapis.com/css2?family=REM:wght@100;200&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #0E1111;
    color: #fff;
    font-family: 'REM', sans-serif;
    display: flex;
    align-items: center; /* Vertically center the content */
    min-height: 100vh; /* Ensure the content fills the screen */
}

.container {
  display: flex;
}

#root {
  width: 100%;
}